@import "settings/variables";

.trend-edit {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
      > h5 {
        color: $font-color-dark;
        font-size: 1rem;
        margin: 0;
      }
    }
    &__actions {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    &__input {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      width: 100%;
      > input,
      textarea,
      select {
        width: 100%;
      }
      > label {
        align-self: flex-start;
        padding-bottom: 0.25rem;
        color: $font-color-dark;
      }
      > textarea {
        height: 200px;
      }
    }
  }
}
