<form class="trend-edit" [formGroup]="trendForm" (ngSubmit)="onSubmit()">
  <div class="trend-edit__header">
    <div class="trend-edit__header__title">
      <h5 *ngIf="isEdit">Editar noticia</h5>
      <h5 *ngIf="!isEdit">Nueva noticia</h5>
    </div>
    <div class="trend-edit__header__actions">
      <app-button type="lightSecondary" (click)="cancel()">Cancelar</app-button>
      <app-button type="primary" typeButton="submit">Guardar</app-button>
    </div>
  </div>
  <div class="trend-edit__form">
    <div class="trend-edit__form__input">
      <label>URL</label>
      <input class="app-input" type="text" formControlName="url" />
    </div>

    <div class="trend-edit__form__input">
      <label>Image</label>
      <input class="app-input" type="text" formControlName="image" />
    </div>

    <div class="trend-edit__form__input">
      <label>Provider</label>
      <select class="app-input" formControlName="provider">
        <option *ngFor="let provider of TrendProviders" [value]="provider">
          {{ provider }}
        </option>
      </select>
    </div>

    <div class="trend-edit__form__input">
      <label>Title</label>
      <input class="app-input" type="title" formControlName="title" />
    </div>

    <div class="trend-edit__form__input">
      <label>Contenido</label>
      <textarea
        class="app-input"
        type="textarea"
        formControlName="body"
      ></textarea>
    </div>
  </div>
</form>
